/**************************
 * FONTS
 **************************/
 /*
@font-face { font-family: "Martel"; src: local(Martel UltraLight), url("../fonts/martel/Martel-UltraLight.ttf") format("truetype"); font-weight: 200; }
@font-face { font-family: "Martel"; src: local(Martel Light), url("../fonts/martel/Martel-Light.ttf") format("truetype"); font-weight: 300; }
@font-face { font-family: "Martel"; src: local(Martel Regular), url("../fonts/martel/Martel-Regular.ttf") format("truetype"); font-weight: 400; }
@font-face { font-family: "Martel"; src: url("../fonts/martel/Martel-Medium.ttf") format("truetype"); font-weight: 500; }
@font-face { font-family: "Martel"; src: url("../fonts/martel/Martel-Bold.ttf") format("truetype"); font-weight: 700; }
*/
/**************************
 * STYLES
 **************************/
/* 
html { color: #144A54; font-family: Martel, Calibri, Trebuchet, sans-serif; }
*/
.no-margin { margin: 0; }
.no-padding { margin: 0; }
.landingpage .navbar-fixed { height: inherit; }
.landingpage .navbar-fixed nav { background-color: transparent; box-shadow: initial; }
.landingpage .navbar-fixed nav .nav-wrapper { margin-right: 10%; margin-top: 60px; }
.landingpage .navbar-fixed nav .nav-wrapper ul li { height: 30px; line-height: 30px; transition: initial; }
.landingpage .navbar-fixed nav .nav-wrapper ul li a:hover, 
.landingpage .navbar-fixed nav .nav-wrapper ul li.active { background-color: rgba(0,0,0,.2); -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; -moz-box-shadow: inset 0 8px 8px -6px #586670, inset 0 -4px 4px -6px #586670; -webkit-box-shadow: inset 0 8px 8px -6px #586670, inset 0 -4px 4px -6px #586670; box-shadow: inset 0 8px 8px -6px #586670, inset 0 -4px 4px -6px #586670; } 
.landingpage .navbar-fixed nav .nav-wrapper ul li a { padding: 0 20px; transition: initial; } 
.landingpage .top-navbar { background-color: rgba(194, 202, 209, 0.6);  height: 30px; }
/**************************
 * MEDIA QUIERIES
 **************************/
@media only screen and (min-width: 993px) {
  .container { width: 55%; }
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 796px) {
}
@media only screen and (max-width: 600px) {
}
