<header class="navbar-fixed">
  <nav>
    <div class="top-navbar">
      <div class="wrap">
        <div class="top-navbar-content">
          <div class="card-social-share right hide-on-small-only">
            <a href="#" class="mr15" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" class="mr15" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="mr15" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="#" class="mr15" target="_blank"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="hide-on-med-and-down right">
        <li class="active" ng-click="moveTo($event, 0)"><a href="">Home</a></li>
        <li ng-click="moveTo($event, 1)"><a href="">Acerca</a></li>
        <li ng-click="moveTo($event, 2)"><a href="">Galeria</a></li>
        <li ng-click="moveTo($event, 3)"><a href="">Servicios</a></li>
        <li ng-click="moveTo($event, 4)"><a href="">Precio</a></li>
        <li ng-click="moveTo($event, 5)"><a href="">Contáctanos</a></li>
      </ul>
      <ul id="slide-out" class="side-nav">
        <li ng-click="moveTo($event, 0)"><a href="">Home</a></li>
        <li ng-click="moveTo($event, 1)"><a href="">Acerca</a></li>
        <li ng-click="moveTo($event, 2)"><a href="">Galeria</a></li>
        <li ng-click="moveTo($event, 3)"><a href="">Servicios</a></li>
        <li ng-click="moveTo($event, 4)"><a href="">Precio</a></li>
        <li ng-click="moveTo($event, 5)"><a href="">Contáctanos</a></li>
      </ul>
      <a href="" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>